  
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfV72jN_mCWtvAqBcmTtmXbVu00GVbAyLFYA&usqp=CAU');
  background-size: cover;
}
.card-content{
  text-align: -webkit-center;
  padding-top: 150px
}
.example-full-width {
  width: 100%;
}